/* ---------- CUSTOM PROPERTIES ----------*/

:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-cyan: hsl(158, 36%, 37%);
    --clr-darkcyan: hsl(156, 42%, 18%);
    --clr-greyblue: hsl(228, 12%, 48%);
    --clr-darkblue: hsl(212, 21%, 14%);
    --gap: 1em;
    --gap-lg: 3em;
}

/* ---------- RESET ----------*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, h1, h2, img, strike, strong, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

img {
    display: block;
    max-width: 100%;
}

body {
    height: 100vh;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(0.875rem, 0.6549rem + 0.9390vw, 1.5rem);
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: .15vw;
    color: var(--clr-greyblue);
    background-color: var(--clr-cream);
}

/* ---------- TYPOGRAPHY ----------*/
.product-name,
.sale-price {
    font-size: clamp(2.75rem, 2.0458rem + 3.0047vw, 4.75rem);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    line-height: 1;
}

.product-name {
    color: var(--clr-darkblue);
}

.product, 
button {
    font-size: clamp(1.25rem, 0.8979rem + 1.5023vw, 2.25rem);
    font-weight: 500;
}

.product {
    letter-spacing: 1.5vw;
    text-transform: uppercase;
}

.product,
.description,
.price {
    transition: font-weight .25s;
}

.product:hover,
.description:hover,
.price:hover {
    font-weight: 700;
}

.sale-price {
    color: var(--clr-cyan);
}

.price {
    text-decoration-line: line-through !important;
}

.price:hover,
.price:focus {
    text-decoration-line: line-through !important;
}

i {
    margin-right: .75em;
}

.attribution {
    text-align: center;
}

/* ---------- LAYOUT ----------*/

.card {
    width: clamp(375px, 0.0000rem + 100.0000vw, 1440px);
    margin-inline: auto;
    margin: var(--gap) auto;
    border-radius: 1.5em;
    background-color: var(--clr-white);
}

.hero {
    width: 100%;
    height: 35vh;
    background: url("images/image-product-desktop.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.container {
    --gap: 1.5em;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: clamp(375px, 0.0000rem + 100.0000vw, 1440px);
    /* width: clamp(187px, -0.6761rem + 50.0469vw, 720px); */
    margin: 1.5em auto;
    padding: 0 var(--gap);
}

.pricing {
    display: flex;
    gap: 2em;
    justify-content: flex-start;
    align-items: center;
    margin-top: var(--gap-lg);
}

/* ---------- COMPONENTS ----------*/

button {
    margin: .5em 0 var(--gap) 0;
    padding: 1em 2em;
    border-radius: .75em;
    background-color: var(--clr-cyan);
    font-weight: 700;
    color: var(--clr-cream);
    transition: background-color .5s;
}

button:hover,
button:focus {
    background-color: var(--clr-darkcyan);
}

.attribution {
    position: absolute;
    bottom: 1;
    z-index: -1;
}

.attribution:hover,
.attribution:focus {
    color: hsl(37, 40%, 22%);
}

/* ---------- MEDIA QUERIES ----------*/
/* mobile view */
/* @media (max-width: 750px) {
    .hero {
        width: 100%;
        height: 35vh;
        background: url("images/image-product-desktop.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .price {
        text-decoration-line: line-through !important;
    }
} */

/* desktop view */
@media (min-width: 750px) {
    /* .card {
        width: 1440px;
    } */
    .split {
        display: flex;
        gap: 2em;
        width: 100%;
        height: 100%;
    }
    .hero {
        flex: 1 1 50%;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        width: 100%;
        height: 900px;
        background: url("images/image-product-desktop.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center center; */
    }
    .container {
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        flex: 1 1 50%;
        height: 100%;
        margin-inline: auto;
        /* margin-right: 2em; */
    }
    .product-name,
    .product,
    .description,
    .pricing,
    .sale-price,
    .price,
    button {
        margin: 0;
    }
    .price {
        text-decoration-line: line-through !important;
    }
    button {
        margin-bottom: var(--gap-lg);
    }
}